*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style-type: none;
}
clear:after{
    content:"";
	display:block;
	height:0;
	clear:both;
}